Game
Result AND MySelection


To the right is MyWeeksResults(weeks score) and OverallScore
Under that is a list of MyLeagues with my place in the league

At the bottom we have a list of all the past MyWeeksResults



<section class="section bg-light" id="features">
  <div class="container">

    <% if current_user.id == @user.id && %>
      <h1 class="font-light">My Weeks Results</h1>
    <% else %>
      <h1 class="font-light">My Weeks Results</h1>
    <% end %>

    <%= @ %>



  </div>
</section>