// Place all the styles related to the FixturesGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  padding-bottom: 150px;
}

.nav-bar {
  border-radius: 0%;
}

.nav-link {
  border-left: solid;
  border-radius: 50%;
  width: 140px;
}

.sidebar {
  margin-right: -35px;
  text-align: center;
}

.sidebar-head {
  text-align: center;
}

.scores {
  background-color: #375a7f;
  border-radius: 5%;
}

.footer {
  background: #375a7f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.feature-image {
  height: 30px;
}

.league-image {
  height: 100px;
}

.leaguers {
  height: 250px;
}

.table-center {
  text-align: left;
}

.table-item {
  width: 90px;
}

.table-fixtures {
  width: 150px;
  padding-right: 10px;
}

.page-center {
  text-align: center;
}

.title-center {
  text-align: center;
}

.user-fixture-input {
  width: 100px;
}

.btn-center {
  text-align: center;
}

.show-btn {
  width: 150px;
}