// Place all the styles related to the FixturesGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  height: 100%;
  padding-bottom: 80px;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.nav-bar {
  border-radius: 0%;
  border-bottom: solid;
  border-color: #222222;
}

.nav-link {
  border-left: solid;
  border-radius: 50%;
  width: 140px;
}

.sidebar {
  margin-right: -35px;
  text-align: center;
}

.sidebar-head {
  text-align: center;
}

.scores {
  background-color: #375a7f;
  border-radius: 5%;
}

.footer {
  background: #375a7f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 5px;
}

.footer-content {
  text-align: center;
}

.feature-image {
  height: 30px;
}

.league-image {
  height: 150px;
}

.leaguers {
  height: 270px;
  text-align: center;
}

.league-name {
  border-bottom: solid;
  padding-bottom: 4px;
}

.no-under {
  color: #ffffff;
}

.no-under:link {
  text-decoration: none;
}

.no-under:hover {
  text-decoration: underline;
  color: #00bc8c;
}

.indent {
  text-indent: 20px;
}

.table-left {
  text-align: left;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table-item {
  text-align: center;
  width: 90px;
}

.team {
  height: 40px;
  width: 140px;
}

.table-fixtures {
  width: 150px;
  padding-right: 10px;
}

.how-to {
  background: #375a7f;
  padding-top: 10px;
  padding-bottom: 20px;
}

.page-center {
  text-align: center;
}

.title-center {
  text-align: center;
}

.user-fixture-input {
  width: 100px;
}

.btn-center {
  text-align: center;
}

.show-btn {
  width: 150px;
}

.standings {
  margin-top: 3px;
}