// Place all the styles related to the FixturesGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature-image {
  height: 30px;
}

.league-image {
  height: 100px;
}

.leaguers {
  height: 250px;
}

.table-center {
  text-align: left;
}

.table-item {
  width: 90px;
}

.page-center {
  text-align: center;
}

.title-center {
  text-align: center;
}

.user-fixture-input {
  width: 100px;
}

.btn-center {
  text-align: center;
}

.show-btn {
  width: 150px;
}