<h1>This will display the overall users scores.</h1>
<% @leaders.each do |leader| %>
  <% count = 1 %>
  <%= "#{leader.name}: #{leader.score}" %><br>
  <% count += 1 %>
  <% break if count == 5 %>
<% end %>