<h1>This will display the overall users scores.</h1>
<% @leaders.each do |leader| %>
  <div>
  <% count = 1 %>
  <%= "#{leader.name}: #{leader.score}" %><br>
  <% count += 1 %>
  <% break if count == 10 %>
  </div>
<% end %>