<h1>Welcome to Top 5 Fantasy Soccer</h1>
<p>Here you can create multiple private and/or public leagues, join multiple leagues, try and predict our selected soccer fixtures, and more.</p>


<% @fixtures_groups.each do |group| %>
  <h2><%= Unirest.get("http://api.football-data.org/v1/fixtures/#{group.fixture1_id}") %>
<% end %>