<h1 class="page-header">Welcome to Top 5 Fantasy Soccer</h1>

<div class="row">
  <div class="col-sm-6 col-lg-6">
    <div class="jumbotron">
      <div class="container">
        <% count = 1 %>
        <% @fixtures_group.fixtures.each do |fixture| %>
          <h4>Game: <%= count %></h4>
          <h4><%= "#{fixture.home_team} hosts #{fixture.away_team}" %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>