<h1>Welcome to Top 5 Fantasy Soccer</h1>

<div>
  <% count = 1 %>
  <% @fixtures_group.fixtures.each do |fixture| %>
    <h4>Game: <%= count %></h4>
    <% count += 1 %>
    <h4><%= "#{fixture.home_team} hosts #{fixture.away_team}" %></h4>
  <% end %>
</div>